# /etc/systemd/system/tomcat8.service
# Systemd unit file for optional tomcat8

[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/opt/apache/tomcat/bin/startup.sh
EnvironmentFile=-/opt/apache/tomcat/bin/setenv.sh
PIDFile=/opt/apache/tomcat/temp/tomcat.pid
SuccessExitStatus=143
User=archie

[Install]
WantedBy=multi-user.target
