# /etc/systemd/system/activemq.service
# Systemd unit file for ActiveMQ

[Unit]
Description=Apache ActiveMQ
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/opt/apache/activemq/bin/activemq start
SuccessExitStatus=143
#EnvironmentFile=-/opt/apache/activemq/bin/env
PIDFile=/opt/apache/activemq/data/activemq.pid
User=archie

[Install]
WantedBy=multi-user.target

